<h2>POKEDEX</h2>

<div class="background">
    <div class="screen">
        <div class="pkm-left">
            <div class="name">{{this.pokemon?.name}}</div>
            <div class="img">
                <img class="imgSacha" *ngIf="!pokemon" src="https://66.media.tumblr.com/tumblr_mai132OrFS1rfjowdo1_500.gif" alt="Sacha et Pika">
                <img *ngIf="pokemon" src="{{this.pokemon?.sprites?.back_default}}" alt="image back">
                <img *ngIf="pokemon" src="{{this.pokemon?.sprites?.front_default}}" alt="image front">
            </div>
            <div class="description">{{this.pokemonDetails}}

            </div>
            <div class="info">
                <p class="infoInside">N°{{this.pokemon?.id}}</p>
                <p class="infoInside">poids: {{this.pokemon?.weight}}</p>
                <p class="infoInside">taille: {{this.pokemon?.height}}</p>
            </div>
        </div>
        <div class="pkm-right">
            <div class="pkm-list">Liste des pokemons</div>
            <ul>
                <li class="pokemonSelect" *ngFor="let pokemon of pokemonList" (click)="getPokemonDetails(pokemon.name)">{{pokemon.name}}</li>
            </ul>
            <div class="next-previous">
                <button (click)="previousPage()">⬆</button>
                <button (click)="nextPage()">⬇</button>
            </div>
        </div>
    </div>

</div>