<h2>POKEDEX</h2>

<div class="background">
    <div class="screen">
        <div class="pkm-left">
            <div class="name">{{this.pokemon?.name}}</div>
            <div class="img">
                <img src="{{this.pokemon?.sprites?.back_default}}" alt="image gauche">
                <img src="{{this.pokemon?.sprites?.front_default}}" alt="image droite">
            </div>
            <div class="description">description

            </div>
            <div class="info">
                <p>N°{{this.pokemon?.id}}</p>
                <p>poids: {{this.pokemon?.weight}}</p>
                <p>taille: {{this.pokemon?.height}}</p>
            </div>
        </div>
        <div class="pkm-right">
            <div class="pkm-list">Liste des pokemons</div>
            <ul>
                <li (click)="getPokemonDetails(pokemon.name)" *ngFor="let pokemon of pokemonList">{{pokemon.name}}</li>
            </ul>
            <div class="next-previous">
                <button>⬆</button>
                <button>⬇</button>
            </div>
        </div>
    </div>

</div>