<h2>POKEDEX</h2>

<div class="background">
    <div class="screen">
        <div class="pkm-left">
            <div class="name">{{this.pokemonDetails?.name}}</div>
            <div class="img">
                <img class="imgSacha" *ngIf="!pokemonDetails" src="https://66.media.tumblr.com/tumblr_mai132OrFS1rfjowdo1_500.gif" alt="Sacha et Pika">
                <img class="img" *ngIf="pokemonDetails" src="{{this.pokemonDetails?.sprites?.front_default}}" alt="image front">
                <img class="img" *ngIf="pokemonDetails" src="{{this.pokemonDetails?.sprites?.back_default}}" alt="image back">
            </div>
            <div class="description">{{this.pokemonFrenchText?.flavor_text}}

            </div>
            <div class="info">
                <p class="infoInside">N°{{this.pokemonDetails?.id}}</p>
                <p class="infoInside">poids: {{this.pokemonDetails?.weight}}</p>
                <p class="infoInside">taille: {{this.pokemonDetails?.height}}</p>
            </div>
        </div>
        <div class="pkm-right">
            <div class="pkm-list">Liste des pokemons</div>
            <ul>
                <li class="pokemonSelect" *ngFor="let item of pokemonList" (click)="userClick(item.name)">{{item.name}}</li>
            </ul>

            <div class="next-previous">                
                <button (click)="previousView()">⬆</button>
                <button (click)="homeView()">
                    <div class="home">{{offsetValueNumber}}->{{offsetValueNumber20}}</div>
                    <div class="home">/ {{pokemonCount}}</div>
                </button>
                <button (click)="nextView()">⬇</button>
            </div>
        </div>
    </div>

</div>